# Análise de Biópsia de Câncer de Mama

fonte: https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Original%29

In [1]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv('./biopsy.csv', sep=',', na_values='["NA"]')
df = df.drop('ID', axis=1)

In [9]:
df.head()

   V1  V2  V3  V4  V5    V6  V7  V8  V9   class
1   5   1   1   1   2   1.0   3   1   1  benign
2   5   4   4   5   7  10.0   3   2   1  benign
3   3   1   1   1   2   2.0   3   1   1  benign
4   6   8   8   1   3   4.0   3   7   1  benign
5   4   1   1   3   2   1.0   3   1   1  benign

In [4]:
df.describe()

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,683.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.544656,3.437768,2.866953,1.589413
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,3.643857,2.438364,3.053634,1.715078
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [5]:
training = df[:300].fillna(method='pad')
test = df[300:].fillna(method='pad')